{% extends "layouts/base.twig" %}

{% block main %}
<div class="historical-photo-container">
  <div class="container container-narrow">
    <h1 class="historical-photo-heading" style="margin-bottom: 0;">{{ photo.title }}</h1>
    <p style="text-align: center; font-size: 1.1rem; margin-top: 0;">{{ photo.date }}</p>
    <img src="{{ photo.image_href }}/full/,500/0/default.png" class="historical-photo" />

    {% if photo.loc_lat is not empty %}
    <div class="share-story-container">
      <a href="#map" class="button button-light">See it on the map</a>
    </div>
    {% endif %}
  </div>
</div>

<div class="stories-container">
  <div class="container container-narrow">
    <section>
      <h2 class="stories-heading">Community photos and stories</h2>
      <div class="divider"></div>

      {% if stories is empty %}
        <p style="text-align: center; margin-bottom: 1rem; margin-top: 0;">No stories yet.</p>
      {% endif %}

      <ul class="stories-list">
      {% for story in stories %}
        <li class="story-card">

          {% if story.image_filename is not empty %}
          <img src="/bicentennial-camera/files/{{ story.image_filename }}" class="story-photo" />
          {% endif %}

          {% if story.description is not empty %}
          <blockquote class="story-quote">
            <svg width="28px" height="20px" viewBox="0 0 28 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.149999991">
                    <g id="BC-App" transform="translate(-433.000000, -1324.000000)" fill="#000000">
                        <path d="M451,1344 L457,1344 L461,1336 L461,1324 L449,1324 L449,1336 L455,1336 L451,1344 Z M435,1344 L441,1344 L445,1336 L445,1324 L433,1324 L433,1336 L439,1336 L435,1344 L435,1344 Z" id="Shape-Copy" transform="translate(447.000000, 1334.000000) rotate(-180.000000) translate(-447.000000, -1334.000000) "></path>
                    </g>
                </g>
            </svg>

            <p class="story-quote-text">
              {{ story.description }}
            </p>

            <svg width="28px" height="20px" viewBox="0 0 28 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.149999991">
                    <g id="BC-App" transform="translate(-979.000000, -1406.000000)" fill="#000000">
                        <path d="M997,1426 L1003,1426 L1007,1418 L1007,1406 L995,1406 L995,1418 L1001,1418 L997,1426 Z M981,1426 L987,1426 L991,1418 L991,1406 L979,1406 L979,1418 L985,1418 L981,1426 L981,1426 Z" id="Shape"></path>
                    </g>
                </g>
            </svg>
          </blockquote>

          {% endif %}
        </li>
      {% endfor %}
      </ul>

      <div class="share-story-container">
        <a href="/bicentennial-camera/index.php/camera/{{ photo.id }}" class="button">
          <svg width="1rem" height="1rem" viewBox="0 0 70 63" version="1.1" xmlns="http://www.w3.org/2000/svg"
          style="display: inline-block; margin-bottom: -.1rem;margin-right: 0.5rem;" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Hackathon---Home-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-685.000000, -279.000000)" fill="#FFFFFF">
                      <g id="camera-copy" transform="translate(685.000000, 279.000000)">
                          <path d="M7,6.94451389 L17.5,6.94444444 L24.5,3.47222221e-05 L45.5,3.47222221e-05 L52.5,6.94444444 L63,6.94451389 C66.86575,6.94451389 70,10.0536458 70,13.8889583 L70,55.5555556 C70,59.3909722 66.86575,62.5 63,62.5 L7,62.5 C3.134005,62.5 0,59.3909722 0,55.5555556 L0,13.8889583 C0,10.0536458 3.134005,6.94451389 7,6.94451389 L7,6.94451389 Z M35,17.3611111 C25.33503,17.3611111 17.5,25.1339583 17.5,34.7222222 C17.5,44.3104167 25.33503,52.0833333 35,52.0833333 C44.6649,52.0833333 52.5,44.3104167 52.5,34.7222222 C52.5,25.1339583 44.6649,17.3611111 35,17.3611111 L35,17.3611111 Z M35,24.3055556 C40.7988,24.3055556 45.5,28.9694444 45.5,34.7222222 C45.5,40.4753472 40.7988,45.1388889 35,45.1388889 C29.20085,45.1388889 24.5,40.4753472 24.5,34.7222222 C24.5,28.9694444 29.20085,24.3055556 35,24.3055556 L35,24.3055556 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </svg>
          Add my Bicentennial Photo</a>
      </div>
    </section>
  </div>
</div>

{% if photo.loc_lat is not empty %}

<div class="map-container" style="padding: 2rem 0; margin-bottom: 3rem;">
  <div class="container container-narrow">
    <section>
      <h2 style="text-align: center; margin-bottom: 3rem;">Where is this photo</h2>

      <div id="map" style="border: solid 2px #CCC;"></div>
      <style>
         #map {
          height: 20rem;
          width: 100%;
         }
      </style>
      <script>
        var loc_lat = {{ photo.loc_lat }}
        var loc_long = {{ photo.loc_long }}

        function initMap() {
          var uluru = {lat: loc_lat, lng: loc_long};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvega-JI5Pt2no31ll1mSomiLY_krEVDI&callback=initMap">
      </script>
    </section>
  </div>
</div>

{% endif %}

{% endblock %}
